<!-- Masthead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <h1>{{_i}}Global &amp; Base LESS{{/i}}</h1>
  <p class="lead">{{_i}}源代码：<a href="../global.less">global.less</a>，<a href="../component/base/less/base.less">base.less</a>{{/i}}</p>
  <div class="subnav">
    <ul class="nav nav-pills">
      <li><a href="#global">{{_i}}Global.less{{/i}}</a></li>
      <li><a href="#base">{{_i}}Base.less{{/i}}</a></li>
    </ul>
  </div>
</header>

{{>baseless/global}}

{{>baseless/base}}
