<!-- Masthead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <h1>{{_i}}HTML组件{{/i}}</h1>
  <p class="lead">{{_i}}源代码：请单独参见以下各个组件{{/i}}</p>
  <div class="subnav">
    <ul class="nav nav-pills">
      <li><a href="#innernav">{{_i}}内页导航条{{/i}}</a</li>
      <li><a href="#footer">{{_i}}底部信息{{/i}}</a</li>
      <li><a href="#topcate">{{_i}}顶部下拉{{/i}}</a</li>
      <li><a href="#button">{{_i}}按钮{{/i}}</a></li>
      <li><a href="#filter">{{_i}}筛选器{{/i}}</a></li>
      <li><a href="#form">{{_i}}表单{{/i}}</a></li>
      <li><a href="#icon">{{_i}}图标{{/i}}</a></li>
      <li><a href="#list">{{_i}}列表{{/i}}</a></li>
      <li><a href="#loading">{{_i}}加载动画{{/i}}</a></li>
      <li><a href="#more">{{_i}}更多按钮{{/i}}</a></li>
      <li><a href="#message">{{_i}}信息提示{{/i}}</a></li>
      <li><a href="#photo">{{_i}}图片格式{{/i}}</a></li>
      <li><a href="#tab">{{_i}}选项卡{{/i}}</a></li>
      <li><a href="#pagenav">{{_i}}分页/翻页{{/i}}</a></li>
      <li><a href="#float">{{_i}}浮层{{/i}}</a></li>
    </ul>
  </div>
</header>

{{>component/innernav}}

{{>component/footer}}

{{>component/topcate}}

{{>component/button}}

{{>component/filter}}

{{>component/form}}

{{>component/icon}}

{{>component/list}}

{{>component/loading}}

{{>component/more}}

{{>component/message}}

{{>component/photo}}

{{>component/tab}}

{{>component/pagenav}}

{{>component/float}}