<!-- Masthead
================================================== -->
<header class="jumbotron subhead" id="overview">
	<h1>{{_i}}Javascript 模块{{/i}}</h1>
	<p class="lead">{{_i}}源代码：请单独参见以下各个模块{{/i}}</p>
	<div class="subnav">
	<ul class="nav nav-pills">
		<li><a href="#seajs">{{_i}}使用seajs{{/i}}</a></li>
		<li><a href="#swipetop">{{_i}}顶部下拉{{/i}}</a></li>
		<li><a href="#pagenav">{{_i}}分页模块{{/i}}</a></li>
		<li><a href="#swipe">{{_i}}划动事件{{/i}}</a></li>
		<li><a href="#scroller">{{_i}}滚动模块{{/i}}</a></li>
		<li><a href="#linkfocus">{{_i}}焦点框模拟{{/i}}</a></li>
		<li><a href="#tranlation">{{_i}}平移动画{{/i}}</a></li>
	</ul>
</div>
</header>

<!-- Seajs
================================================== -->
<section id="seajs">
  <div class="page-header">
    <h1>{{_i}}使用seajs <small><a href="../../libs/seajs/1.2.0/sea-debug.js">1.2.0版本下载</a></small>{{/i}}</h1>   
  </div>
  
  <h2>{{_i}}目前所有JS模块，都兼容CommonJS，且必须使用seajs <code>require</code>这些模块。{{/i}}</h2>
  <h2>{{_i}}seajs相关教程，请访问官方网站：<a href="http://seajs.org/" target="_blank">seajs.org</a>{{/i}}</h2>
</section>

{{>javascript/swipetop}}

{{>javascript/pagenav}}

{{>javascript/swipe}}

{{>javascript/scroller}}

{{>javascript/linkfocus}}

{{>javascript/translation}}