<!-- Masthead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <h1>{{_i}}变量 &amp; 函数{{/i}}</h1>
  <p class="lead">{{_i}}源代码：<a href="_var.less">_var.less</a>，<a href="_func.less">_func.less</a>{{/i}}</p>
  <div class="subnav">
    <ul class="nav nav-pills">
      <li><a href="#builtWith">{{_i}}使用LESS{{/i}}</a></li>
      <li><a href="#variables">{{_i}}变量{{/i}}</a></li>
      <li><a href="#mixins">{{_i}}函数{{/i}}</a></li>
      <li><a href="#compiling">{{_i}}编译{{/i}}</a></li>
    </ul>
  </div>
</header>



<!-- BUILT WITH LESS
================================================== -->
<section id="builtWith">
  <div class="page-header">
    <h1>{{_i}}使用LESS{{/i}}</h1>
  </div>
  
  <h2>{{_i}}LESS相关教程，请访问Wiki：<a href="http://wiki.ued.taobao.net/doku.php?id=team:mobile:f2e:less" target="_blank">http://wiki.ued.taobao.net/doku.php?id=team:mobile:f2e:less</a>{{/i}}</h2>
</section>


{{>varfunc/variables}}

{{>varfunc/mixins}}

{{>varfunc/compiling}}
