<!-- VARIABLES
================================================== -->
<section id="variables">
  <div class="page-header">
    <h1>{{_i}}变量{{/i}}</h1>
  </div>

  <h3>{{_i}}背景色{{/i}}</h3>
  <table class="table table-bordered table-striped">
    <tbody>
      <tr>
        <td class="span3"><code>@standard-bg-color</code></td>
        <td><code>#EEE</code></td>
        <td>{{_i}}主要背景色{{/i}}</td>
        <td class="swatch-col"><span class="swatch" style="background-color: #EEE;"></span></td>
      </tr>
      <tr>
        <td><code>@standard-main-color</code></td>
        <td><code>#F40</code></td>
        <td>{{_i}}主色{{/i}}</td>
        <td class="swatch-col"><span class="swatch" style="background-color: #F40;"></span></td>
      </tr>
      <tr>
        <td><code>@standard-sub-color1</code></td>
        <td><code>#F60</code></td>
        <td>{{_i}}辅色A{{/i}}</td>
        <td class="swatch-col"><span class="swatch" style="background-color: #F60;"></span></td>
      </tr>
      <tr>
        <td><code>@standard-sub-color2</code></td>
        <td><code>#F90</code></td>
        <td>{{_i}}辅色B{{/i}}</td>
        <td><span class="swatch" style="background-color: #F90;"></span></td>
      </tr>
      <tr>
        <td><code>@standard-linear-l</code></td>
        <td><code>#F94B21</code></td>
        <td>{{_i}}渐变色开始{{/i}}</td>
        <td><span class="swatch" style="background-color: #F94B21;"></span></td>
      </tr>
      <tr>
        <td><code>@standard-linear-r</code></td>
        <td><code>#EB3E12</code></td>
        <td>{{_i}}渐变色结束{{/i}}</td>
        <td><span class="swatch" style="background-color: #EB3E12;"></span></td>
      </tr>
    </tbody>
  </table>
  <h3>{{_i}}文字属性{{/i}}</h3>
  <table class="table table-bordered table-striped">
    <tbody>
      <tr>
        <td class="span3"><code>@text-main-color</code></td>
        <td><code>#333</code></td>
        <td>{{_i}}主色{{/i}}</td>
        <td><span class="swatch" style="color: #333;">TEXT</span></td>
      </tr>
      <tr>
        <td><code>@text-highlight-color</code></td>
        <td><code>#F40</code></td>
        <td>{{_i}}高亮{{/i}}</td>
        <td><span class="swatch" style="color: #F40;">TEXT</span></td>
      </tr>
      <tr>
        <td><code>@text-sub-color</code></td>
        <td><code>#666</code></td>
        <td>{{_i}}辅色{{/i}}</td>
        <td><span class="swatch" style="color: #666;">TEXT</span></td>
      </tr>
      <tr>
        <td><code>@text-em-color</code></td>
        <td><code>#D40000</code></td>
        <td>{{_i}}着重色{{/i}}</td>
        <td><span class="swatch" style="color: #D40000;">TEXT</span></td>
      </tr>
      <tr>
        <td><code>@text-link-color</code></td>
        <td><code>#047</code></td>
        <td>{{_i}}链接色{{/i}}</td>
        <td><span class="swatch" style="color: #047;">TEXT</span></td>
      </tr>
      <tr>
        <td><code>@title-font-size</code></td>
        <td><code>24px</code></td>
        <td colspan="2">{{_i}}标题文字大小{{/i}}</td>
      </tr>
      <tr>
        <td><code>@tab-font-size</code></td>
        <td><code>18px</code></td>
        <td colspan="2">{{_i}}标签文字大小{{/i}}</td>
      </tr>
      <tr>
        <td><code>@big-font-size</code></td>
        <td><code>16px</code></td>
        <td colspan="2">{{_i}}大号文字{{/i}}</td>
      </tr>
      <tr>
        <td><code>@normal-font-size</code></td>
        <td><code>14px</code></td>
        <td colspan="2">{{_i}}中号文字{{/i}}</td>
      </tr>
      <tr>
        <td><code>@small-font-size</code></td>
        <td><code>12px</code></td>
        <td colspan="2">{{_i}}小号文字{{/i}}</td>
      </tr>
    </tbody>
  </table>
  <h3>{{_i}}间距{{/i}}</h3>
  <table class="table table-bordered table-striped">
    <tbody>
      <tr>
        <td class="span3"><code>@page-padding-width</code></td>
        <td><code>10px</code></td>
        <td>{{_i}}页边距{{/i}}</td>
      </tr>
      <tr>
        <td><code>@list-margin-width</code></td>
        <td><code>30px</code></td>
        <td>{{_i}}列表间距{{/i}}</td>
      </tr>
      <tr>
        <td><code>@first-list-margin-width</code></td>
        <td><code>20px</code></td>
        <td>{{_i}}第一个列表的顶部间距{{/i}}</td>
      </tr>
      <tr>
        <td><code>@list-item-margin-width</code></td>
        <td><code>10px</code></td>
        <td>{{_i}}列表中各项目间距{{/i}}</td>
      </tr>
      <tr>
        <td><code>@group-list-margin-width</code></td>
        <td><code>20px</code></td>
        <td>{{_i}}分组列表间距{{/i}}</td>
      </tr>
    </tbody>
  </table>
  <h3>{{_i}}屏幕尺寸{{/i}}</h3>
  <table class="table table-bordered table-striped">
    <tbody>
      <tr>
        <td class="3"><code>@screen-min-width</code></td>
        <td><code>320px</code></td>
        <td>{{_i}}最小宽度{{/i}}</td>
      </tr>
      <tr>
        <td><code>@screen-min-height</code></td>
        <td><code>480px</code></td>
        <td>{{_i}}最小高度{{/i}}</td>
      </tr>
    </tbody>
  </table>
</section>