    <!-- linkfocus
    ================================================== -->
    <section id="linkfocus">
      <div class="page-header">
        <h1>{{_i}}焦点框模拟{{/i}} <small></small></h1>
      </div>
      <div class="row">
      
        <div class="span3 columns">
          <h3>{{_i}}关于{{/i}}</h3>
          <p>{{_i}}提供有蒙层效果的点击焦点框反馈（支持Android）{{/i}}</p>
          <a href="../../modules/linkfocus/linkfocus.js" class="btn">{{_i}}查看文件{{/i}}</a>
          <hr>
          <h3>{{_i}}动画DEMO{{/i}}</h3>
          <a href="examples/linkfocus.html" class="btn btn-primary">{{_i}}访问DEMO{{/i}}</a>
        </div>
        
        <div class="span9 columns">
          <!-- 用法 --> 
          <h2>{{_i}}用法{{/i}}</h2>
          <p>{{_i}}在javascript中调用：{{/i}}</p>
<pre class="prettyprint">
var linkfocus = require('linkfocus'),
    thisLinkfocus = linkfocus(selector);
</pre>
          <h3>{{_i}}参数列表{{/i}}</h3>
          <table class="table table-bordered table-striped">
            <thead>
             <tr>
               <th style="width: 100px;">{{_i}}键名{{/i}}</th>
               <th style="width: 100px;">{{_i}}类型{{/i}}</th>
               <th style="width: 100px;">{{_i}}默认值{{/i}}</th>
               <th>{{_i}}描述{{/i}}</th>
             </tr>
            </thead>
            <tbody>
             <tr>
               <td>{{_i}}<code>selector</code>{{/i}}</td>
               <td>{{_i}}boolean|string(css selector){{/i}}</td>
               <td>{{_i}}空串{{/i}}</td>
               <td>{{_i}}需要模拟焦点的元素CSS选择器。如果需要在android下屏蔽焦点框，请传入false。{{/i}}</td>
             </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
