<!-- Seajs
================================================== -->
<section id="seajs">
  <div class="page-header">
    <h1>{{_i}}使用seajs <small><a href="../../libs/seajs/1.2.0/sea-debug.js">1.2.0版本下载</a></small>{{/i}}</h1>   
  </div>
  
  <h2>{{_i}}目前所有JS模块，都兼容CommonJS，且必须使用seajs <code>require</code>这些模块。{{/i}}</h2>
  <h2>{{_i}}seajs相关教程，请访问官方网站：<a href="http://seajs.org/" target="_blank">seajs.org</a>{{/i}}</h2>
</section>