<!-- Button
================================================== -->
<section id="button">
  <div class="page-header">
    <h1>{{_i}}按钮<small>支持的标签为<code>a、button</code> <a href="../component/btn/less/btn.less">btn.less</a></small>{{/i}}</h1>    
  </div>
  <div class="row">
  	<div class="span12">
  		<div id="tbh5v0">
	      <table class="table table-bordered table-striped">
	        <colgroup>
	          <col class="span3">
	          <col class="span6">
	          <col class="span3">
	        </colgroup>
	        <thead>
	          <tr>
	            <th>{{_i}}类名{{/i}}</th>
	            <th>{{_i}}展现{{/i}}</th>
	            <th>{{_i}}描述{{/i}}</th>
	          </tr>
	        </thead>
	        <tbody>
	          <tr>
	            <td>
	              <code>c-btn-nomal</code>
	            </td>
	            <td>
	              <a class="c-btn-nomal">确定</a>
	            </td>
	            <td>普通白色按钮</td>
	          </tr>
	          <tr>
	            <td>
	              <code>c-btn-grey</code>
	            </td>
	            <td>
	              <a class="c-btn-grey">确定</a>
	            </td>
	            <td>普通灰色按钮</td>
	          </tr>
	          <tr>
	            <td>
	              <code>c-btn-oran</code>
	            </td>
	            <td>
	              <a class="c-btn-oran">确定</a>
	            </td>
	            <td>普通橙色按钮</td>
	          </tr>
	          <tr>
	            <td>
	              <code>c-btn-blue</code>
	            </td>
	            <td>
	              <a class="c-btn-blue">确定</a>
	            </td>
	            <td>普通蓝色按钮</td>
	          </tr>
	          <tr>
	            <td>
	              <code>c-btn-grey-small</code>
	            </td>
	            <td>
	              <a class="c-btn-grey-small">确定</a>
	            </td>
	            <td>小号灰色按钮</td>
	          </tr>
	          <tr>
	            <td>
	              <code>c-btn-oran-small</code>
	            </td>
	            <td>
	              <a class="c-btn-oran-small">确定</a>
	            </td>
	            <td>小号橙色按钮</td>
	          </tr>
	          <tr>
	            <td>
	              <code>c-btn-oran-big</code>
	            </td>
	            <td>
	              <a class="c-btn-oran-big">确定</a>
	            </td>
	            <td>通栏橙色按钮</td>
	          </tr>
	          <tr>
	            <td>
<pre>
&lt;a class="c-btn-tmall-buy"&gt;
    &lt;span&gt;立即购买&lt;/span&gt;
&lt;/a&gt;
</pre>
	            </td>
	            <td>
	              <a class="c-btn-tmall-buy"><span>立即购买</span></a>
	            </td>
	            <td>天猫专用按钮</td>
	          </tr>
	        </tbody>
	      </table>
	    </div>
  	</div>
  </div>
</section>