<!-- filter
================================================== -->
<section id="filter">
  <div class="page-header">
    <h1>{{_i}}筛选器<small>用于宝贝筛选 <a href="../component/filter/less/filter.less">filter.less</a></small>{{/i}}</h1>    
  </div>
  <div class="row">
    <div class="span0">
      <h3>{{_i}}基础样式{{/i}}</h3>
      <p>{{_i}}当前选中的筛选器需要添加<code>cur</code>类名{{/i}}</p>
      <div id="tbh5v0" class="example">
        <div class="c-filter">    
            <ul>
                <li class="good cur"> <a title="">好评<span>(999+)</span></a></li>
                <li class="normal"><a title="">中评<span>(999+)</span></a></li>
                <li class="bad"><a title="">差评<span>(999+)</span></a></li>
            </ul>
        </div>
      </div>
    </div>
    
    <div class="span8">
    	<h3>{{_i}}基础DOM结构{{/i}}</h3>
<pre>
&lt;div class="c-filter"&gt;    
    &lt;ul&gt;
        &lt;li class="good cur"&gt; &lt;a title=""&gt;好评&lt;span&gt;(999+)&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
        &lt;li class="normal"&gt;&lt;a title=""&gt;中评&lt;span&gt;(999+)&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
        &lt;li class="bad"&gt;&lt;a title=""&gt;差评&lt;span&gt;(999+)&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;
</pre>
    </div>
  </div>
</section>