<!-- Footer
================================================== -->
<section id="footer">
  <div class="page-header">
    <h1>{{_i}}底部信息<small>用于页面底部 <a href="../component/foot/less/footer.less">footer.less</a></small>{{/i}}</h1>
  </div>
  <div class="row">
    <div class="span0">
    
      <h3>{{_i}}基础样式{{/i}}</h3>
      <div id="tbh5v0" class="example">
		<footer class="footer">
			<section class="footer-t">
				<p class="user-info">
					<span><a href="#footer">用户名1</a></span><span><a href="#footer">退出</a></span>
				</p>
				<p class="gotop"><a id="J_GoTop" href="#footer">top<b></b></a></p>
			</section>
			<nav class="footer-l">
				<a href="#footer" title="">标准版</a><a href="#footer" title="">电脑版</a>
			</nav>
			<p class="copyright">&copy;2012 浙B2-20080224<a class="cr-sv" href="#footer" id="J_service">客服</a></p>
		</footer>
      </div>
    </div>
    
    <div class="span8">
    <h3>{{_i}}基础DOM结构{{/i}}</h3>
<pre>
&lt;footer class="footer"&gt;
    &lt;section class="footer-t"&gt;
        &lt;p class="user-info"&gt;
            &lt;span&gt;&lt;a href="#"&gt;用户名1&lt;/a&gt;&lt;/span&gt;&lt;span&gt;&lt;a href="#"&gt;退出&lt;/a&gt;&lt;/span&gt;
        &lt;/p&gt;
        &lt;p class="gotop"&gt;&lt;a id="J_GoTop" href="#"&gt;top&lt;b&gt;&lt;/b&gt;&lt;/a&gt;&lt;/p&gt;
    &lt;/section&gt;
    &lt;nav class="footer-l"&gt;
        &lt;a href="#" title=""&gt;标准版&lt;/a&gt;&lt;a href="http://www.taobao.com/index.php?from=wap&sprefer=pmm302" title=""&gt;电脑版&lt;/a&gt;
    &lt;/nav&gt;
    &lt;p class="copyright"&gt;&copy;2012 浙B2-20080224&lt;a class="cr-sv" href="#" id="J_service"&gt;客服&lt;/a&gt;&lt;/p&gt;
&lt;/footer&gt;
</pre> 
    </div>
</section>