<!-- Icon
================================================== -->
<section id="icon">
  <div class="page-header">
    <h1>{{_i}}图标<small>支持的标签为<code>a、span</code> <a href="../component/icon/less/icon.less">icon.less</a></small>{{/i}}</h1>    
  </div>
  <div class="row">
  	<!-- 商家推广 -->
  	<div class="span4">
  		<div id="tbh5v0">
  		  <h3>{{_i}}商家推广{{/i}}</h3>
	      <table class="table table-bordered table-striped">
	        <colgroup>
	          <col class="span2">
	          <col class="span2">
	        </colgroup>
	        <thead>
	          <tr>
	            <th>{{_i}}类名{{/i}}</th>
				<th>{{_i}}展现{{/i}}</th>
	          </tr>
	        </thead>
	        <tbody>
	          <tr>
	          	<td><code>c-icon-pt</code></td>
	          	<td><span class="c-icon-pt"></span></td>
	          </tr>
	          <tr>
	          	<td><code>c-icon-ps</code></td>
	          	<td><span class="c-icon-ps"></span></td>
	          </tr>
	          <tr>
	          	<td><code>c-icon-pj</code></td>
	          	<td><span class="c-icon-pj"></span></td>
	          </tr>
	          <tr>
	          	<td><code>c-icon-pz</code></td>
	          	<td><span class="c-icon-pz"></span></td>
	          </tr>
	          <tr>
	          	<td><code>c-icon-pf</code></td>
	          	<td><span class="c-icon-pf"></span></td>
	          </tr>
	        </tbody>
	      </table>
	    </div>
  	</div>
  	
  	<!-- 消费者保障 -->
  	<div class="span4">
  		<div id="tbh5v0">
  		  <h3>{{_i}}消费者保障{{/i}}</h3>
	      <table class="table table-bordered table-striped">
	        <colgroup>
	          <col class="span2">
	          <col class="span2">
	        </colgroup>
	        <thead>
	          <tr>
	            <th>{{_i}}类名{{/i}}</th>
				<th>{{_i}}展现{{/i}}</th>
	          </tr>
	        </thead>
	        <tbody>
	          <tr>
	          	<td><code>c-icon-dz</code></td>
	          	<td><span class="c-icon-dz"></span></td>
	          </tr>
	          <tr>
	          	<td><code>c-icon-dr</code></td>
	          	<td><span class="c-icon-dr"></span></td>
	          </tr>
	          <tr>
	          	<td><code>c-icon-dm</code></td>
	          	<td><span class="c-icon-dm"></span></td>
	          </tr>
	          <tr>
	          	<td><code>c-icon-dh</code></td>
	          	<td><span class="c-icon-dh"></span></td>
	          </tr>
	          <tr>
	          	<td><code>c-icon-dt</code></td>
	          	<td><span class="c-icon-dt"></span></td>
	          </tr>
	          <tr>
	          	<td><code>c-icon-ds</code></td>
	          	<td><span class="c-icon-ds"></span></td>
	          </tr>
	          <tr>
	          	<td><code>c-icon-de</code></td>
	          	<td><span class="c-icon-de"></span></td>
	          </tr>
	        </tbody>
	      </table>
	    </div>
  	</div>

  	<!-- 打分评价 -->
  	<div class="span4">
  		<div id="tbh5v0">
  		  <h3>{{_i}}打分评价{{/i}}</h3>
	      <table class="table table-bordered table-striped">
	        <colgroup>
	          <col class="span2">
	          <col class="span2">
	        </colgroup>
	        <thead>
	          <tr>
	            <th>{{_i}}类名{{/i}}</th>
				<th>{{_i}}展现{{/i}}</th>
	          </tr>
	        </thead>
	        <tbody>
	          <tr>
	          	<td><code>c-icon-fg</code></td>
	          	<td><span class="c-icon-fg"></span></td>
	          </tr>
	          <tr>
	          	<td><code>c-icon-fm</code></td>
	          	<td><span class="c-icon-fm"></span></td>
	          </tr>
	          <tr>
	          	<td><code>c-icon-fb</code></td>
	          	<td><span class="c-icon-fb"></span></td>
	          </tr>
	        </tbody>
	      </table>
	    </div>
  	</div>
  </div>
  
  <div class="row">
  	<!-- 买家评价 -->
  	<div class="span4">
  		<div id="tbh5v0">
  		  <h3>{{_i}}买家评价{{/i}}</h3>
  		  <p>{{_i}}买家级别分为4级，每级1～5个星，类名为<code>c-icon-b-{level}-{number}</code>{{/i}}</p>
	      <table class="table table-bordered table-striped">
	        <colgroup>
	          <col class="span2">
	          <col class="span2">
	        </colgroup>
	        <thead>
	          <tr>
	            <th>{{_i}}类名{{/i}}</th>
				<th>{{_i}}展现{{/i}}</th>
	          </tr>
	        </thead>
	        <tbody>
	          <tr>
	          	<td><code>c-icon-b1</code></td>
	          	<td><span class="c-icon-b1"></span></td>
	          </tr>
	          <tr>
	          	<td><code>c-icon-b2</code></td>
	          	<td><span class="c-icon-b2"></span></td>
	          </tr>
	          <tr>
	          	<td><code>c-icon-b3</code></td>
	          	<td><span class="c-icon-b3"></span></td>
	          </tr>
	          <tr>
	          	<td><code>c-icon-b4</code></td>
	          	<td><span class="c-icon-b4"></span></td>
	          </tr>
	        </tbody>
	      </table>
	    </div>
  	</div>

  	<!-- 卖家评价 -->
  	<div class="span4">
  		<div id="tbh5v0">
  		  <h3>{{_i}}卖家评价{{/i}}</h3>
  		  <p>{{_i}}卖家级别分为4级，每级1～5个星，类名为<code>c-icon-c-{level}-{number}</code>{{/i}}</p>
	      <table class="table table-bordered table-striped">
	        <colgroup>
	          <col class="span2">
	          <col class="span2">
	        </colgroup>
	        <thead>
	          <tr>
	            <th>{{_i}}类名{{/i}}</th>
				<th>{{_i}}展现{{/i}}</th>
	          </tr>
	        </thead>
	        <tbody>
	          <tr>
	          	<td><code>c-icon-c1</code></td>
	          	<td><span class="c-icon-c1"></span></td>
	          </tr>
	          <tr>
	          	<td><code>c-icon-c2</code></td>
	          	<td><span class="c-icon-c2"></span></td>
	          </tr>
	          <tr>
	          	<td><code>c-icon-c3</code></td>
	          	<td><span class="c-icon-c3"></span></td>
	          </tr>
	          <tr>
	          	<td><code>c-icon-c4</code></td>
	          	<td><span class="c-icon-c4"></span></td>
	          </tr>
	        </tbody>
	      </table>
	    </div>
  	</div>
  	
  	<!-- 小星星 -->
  	<div class="span4">
  		<div id="tbh5v0">
  		  <h3>{{_i}}小星星{{/i}}</h3>
	      <table class="table table-bordered table-striped">
	        <colgroup>
	          <col class="span2">
	          <col class="span2">
	        </colgroup>
	        <thead>
	          <tr>
	            <th>{{_i}}类名{{/i}}</th>
				<th>{{_i}}展现{{/i}}</th>
	          </tr>
	        </thead>
	        <tbody>
	          <tr>
	          	<td><code>c-icon-g1</code></td>
	          	<td><span class="c-icon-g1"></span></td>
	          </tr>
	          <tr>
	          	<td><code>c-icon-g2</code></td>
	          	<td><span class="c-icon-g2"></span></td>
	          </tr>
	          <tr>
	          	<td><code>c-icon-g3</code></td>
	          	<td><span class="c-icon-g3"></span></td>
	          </tr>
	          <tr>
	          	<td><code>c-icon-g4</code></td>
	          	<td><span class="c-icon-g4"></span></td>
	          </tr>
	          <tr>
	          	<td><code>c-icon-g5</code></td>
	          	<td><span class="c-icon-g5"></span></td>
	          </tr>
	        </tbody>
	      </table>
	    </div>
  	</div>
  </div>
  
  <div class="row">
  	<!-- 大星星 -->
  	<div class="span4">
  		<div id="tbh5v0">
  		  <h3>{{_i}}大星星{{/i}}</h3>
	      <table class="table table-bordered table-striped">
	        <colgroup>
	          <col class="span2">
	          <col class="span2">
	        </colgroup>
	        <thead>
	          <tr>
	            <th>{{_i}}类名{{/i}}</th>
				<th>{{_i}}展现{{/i}}</th>
	          </tr>
	        </thead>
	        <tbody>
	          <tr>
	          	<td><code>c-icon-gb1</code></td>
	          	<td><span class="c-icon-gb1"></span></td>
	          </tr>
	          <tr>
	          	<td><code>c-icon-gb2</code></td>
	          	<td><span class="c-icon-gb2"></span></td>
	          </tr>
	          <tr>
	          	<td><code>c-icon-gb3</code></td>
	          	<td><span class="c-icon-gb3"></span></td>
	          </tr>
	          <tr>
	          	<td><code>c-icon-gb4</code></td>
	          	<td><span class="c-icon-gb4"></span></td>
	          </tr>
	          <tr>
	          	<td><code>c-icon-gb5</code></td>
	          	<td><span class="c-icon-gb5"></span></td>
	          </tr>
	        </tbody>
	      </table>
	    </div>
  	</div>
  	
  	<!-- 旺旺状态 -->
  	<div class="span4">
  		<div id="tbh5v0">
  		  <h3>{{_i}}旺旺状态{{/i}}</h3>
	      <table class="table table-bordered table-striped">
	        <colgroup>
	          <col class="span2">
	          <col class="span2">
	        </colgroup>
	        <thead>
	          <tr>
	            <th>{{_i}}类名{{/i}}</th>
				<th>{{_i}}展现{{/i}}</th>
	          </tr>
	        </thead>
	        <tbody>
	          <tr>
	          	<td><code>c-icon-w1</code></td>
	          	<td><span class="c-icon-w1"></span></td>
	          </tr>
	          <tr>
	          	<td><code>c-icon-w2</code></td>
	          	<td><span class="c-icon-w2"></span></td>
	          </tr>
	          <tr>
	          	<td><code>c-icon-w3</code></td>
	          	<td><span class="c-icon-w3"></span></td>
	          </tr>
	          <tr>
	          	<td><code>c-icon-w4</code></td>
	          	<td><span class="c-icon-w4"></span></td>
	          </tr>
	          <tr>
	          	<td><code>c-icon-w5</code></td>
	          	<td><span class="c-icon-w5"></span></td>
	          </tr>
	          <tr>
	          	<td><code>c-icon-w6</code></td>
	          	<td><span class="c-icon-w6"></span></td>
	          </tr>
	        </tbody>
	      </table>
	    </div>
  	</div>
  </div>
</section>