<!-- Loading
================================================== -->
<section id="loading">
  <div class="page-header">
    <h1>{{_i}}加载动画<small>支持的标签为<code>p</code> <a href="../component/more/less/more.less">more.less</a></small>{{/i}}</h1>    
  </div>
  <div class="row">
  	<div class="span4">
  	<h3>{{_i}}基础代码{{/i}}</h3>
<pre>
&lt;p class="classname"&gt;&lt;span&gt;&lt;/span&gt;&lt;/p&gt;
</pre>  	
  	</div>
  	<div class="span8">
  		<div id="tbh5v0">
	      <table class="table table-bordered table-striped">
	        <colgroup>
	          <col class="span4">
	          <col class="span4">
	        </colgroup>
	        <thead>
	          <tr>
	            <th>{{_i}}类名{{/i}}</th>
	            <th>{{_i}}展现{{/i}}</th>
	          </tr>
	        </thead>
	        <tbody>
	          <tr>
	            <td>
	              <code>c-loading</code>
	            </td>
	            <td style="background:#ffffff">
					<p class="c-loading"><span></span></p>
	            </td>
	          </tr>
	          <tr>
	            <td>
	              <code>c-loading loader-grey</code>
	            </td>
	            <td style="background:#eeeeee">
					<p class="c-loading loader-grey"><span></span></p>
	            </td>
	          </tr>
	          <tr>
	            <td>
	              <code>c-loading loader-dark</code>
	            </td>
	            <td style="background:#333333">
					<p class="c-loading loader-dark"><span></span></p>
	            </td>
	          </tr>
	        </tbody>
	      </table>
	    </div>
  	</div>
  </div>
</section>