<!-- List
================================================== -->
<section id="message">
  <div class="page-header">
    <h1>{{_i}}信息提示<small> 用于全屏信息提示 <a href="../component/msg/less/msg.less">msg.less</a></small>{{/i}}</h1>
  </div>

  <div class="row">
    <div class="span0">
      <h3>{{_i}}基本样式{{/i}}</h3>
      <div id="tbh5v0" class="example">
        <div class="c-msg">    
            <section class="c-msg-tip">
                <h1>警告提示</h1>
                <div class="error">该信息由物流公司提供，如有疑问请咨询天天快递官网 </div>
            </section>
            <section class="c-msg-img warn"></section>
            <section class="c-msg-info"><p>提示信息文案内容</p><p>相关操作</p></section>
        </div>
      </div>
    </div>
    
    <div class="span8">
    <h3>{{_i}}DOM结构{{/i}}</h3>
<pre>
&lt;div class="c-msg"&gt;    
    &lt;section class="c-msg-tip"&gt;
        &lt;h1&gt;警告提示&lt;/h1&gt;
        &lt;div class="error"&gt;该信息由物流公司提供，如有疑问请咨询天天快递官网 &lt;/div&gt;
    &lt;/section&gt;
    &lt;section class="c-msg-img warn"&gt;&lt;/section&gt;
    &lt;section class="c-msg-info"&gt;&lt;p&gt;提示信息文案内容&lt;/p&gt;&lt;p&gt;相关操作&lt;/p&gt;&lt;/section&gt;
&lt;/div&gt;
</pre>
    	</div>
    </div>
  <br />
  
  <div class="row">
    <div class="span0">
      <h3>{{_i}}基本样式{{/i}}</h3>
      <div id="tbh5v0" class="example">
        <div class="c-msg">    
            <section class="c-msg-tip">
                <h1>正确提示</h1>
                <div class="error">该信息由物流公司提供，如有疑问请咨询天天快递官网 </div>
            </section>
            <section class="c-msg-img ok"></section>
            <section class="c-msg-info"><p>提示信息文案内容</p><p>相关操作</p></section>
        </div>
      </div>
    </div>
    
    <div class="span8">
    <h3>{{_i}}DOM结构{{/i}}</h3>
<pre>
&lt;div class="c-msg"&gt;    
    &lt;section class="c-msg-tip"&gt;
        &lt;h1&gt;正确提示&lt;/h1&gt;
        &lt;div class="error"&gt;该信息由物流公司提供，如有疑问请咨询天天快递官网 &lt;/div&gt;
    &lt;/section&gt;
    &lt;section class="c-msg-img ok"&gt;&lt;/section&gt;
    &lt;section class="c-msg-info"&gt;&lt;p&gt;提示信息文案内容&lt;/p&gt;&lt;p&gt;相关操作&lt;/p&gt;&lt;/section&gt;
&lt;/div&gt;
</pre>
    	</div>
    </div>
  <br />
  
  <div class="row">
    <div class="span0">
      <h3>{{_i}}基本样式{{/i}}</h3>
      <div id="tbh5v0" class="example">
        <div class="c-msg">    
            <section class="c-msg-tip">
                <h1>错误提示</h1>
                <div class="error">该信息由物流公司提供，如有疑问请咨询天天快递官网 </div>
            </section>
            <section class="c-msg-img error"></section>
            <section class="c-msg-info"><p>提示信息文案内容</p><p>相关操作</p></section>
        </div>
      </div>
    </div>
    
    <div class="span8">
    <h3>{{_i}}DOM结构{{/i}}</h3>
<pre>
&lt;div class="c-msg"&gt;    
    &lt;section class="c-msg-tip"&gt;
        &lt;h1&gt;错误提示&lt;/h1&gt;
        &lt;div class="error"&gt;该信息由物流公司提供，如有疑问请咨询天天快递官网 &lt;/div&gt;
    &lt;/section&gt;
    &lt;section class="c-msg-img error"&gt;&lt;/section&gt;
    &lt;section class="c-msg-info"&gt;&lt;p&gt;提示信息文案内容&lt;/p&gt;&lt;p&gt;相关操作&lt;/p&gt;&lt;/section&gt;
&lt;/div&gt;
</pre>
    	</div>
    </div>
  <br />

</section>