<!-- More
================================================== -->
<section id="more">
  <div class="page-header">
    <h1>{{_i}}更多按钮<small>支持的标签为<code>div</code> <a href="../component/more/less/more.less">more.less</a></small>{{/i}}</h1>    
  </div>
  <div class="row">
  	<div class="span12">
  		<div id="tbh5v0">
	      <table class="table table-bordered table-striped">
	        <colgroup>
	          <col class="span6">
	          <col class="span6">
	        </colgroup>
	        <thead>
	          <tr>
	            <th>{{_i}}代码{{/i}}</th>
	            <th>{{_i}}展现{{/i}}</th>
	          </tr>
	        </thead>
	        <tbody>
	          <tr>
	            <td>
<pre>
&lt;div class="c-more-module"&gt;
    &lt;span class="c-more-btn"&gt;加载更多&lt;/span&gt;
&lt;/div&gt;
</pre>
	            </td>
	            <td>
					<div class="c-more-module">
		            	<span class="c-more-btn">加载更多</span>
					</div>
	            </td>
	          </tr>
	          <tr>
	            <td>
<pre>
&lt;div class="c-more-module"&gt;
    &lt;p&gt;加载更多&lt;i class="arrow"&gt;&lt;/i&gt;&lt;/p&gt;
&lt;/div&gt;
</pre>
	            </td>
	            <td>
					<div class="c-more-nomal">
		            	<p>加载更多<i class="arrow"></i></p>
					</div>
	            </td>
	          </tr>
	          <tr>
	            <td>
<pre>
&lt;div class="c-more-module"&gt;
    &lt;p class="active"&gt;加载更多&lt;i class="arrow"&gt;&lt;/i&gt;&lt;/p&gt;
&lt;/div&gt;
</pre>
	            </td>
	            <td>
					<div class="c-more-nomal">
		            	<p class="active">加载更多<i class="arrow"></i></p>
					</div>
	            </td>
	          </tr>
	        </tbody>
	      </table>
	    </div>
  	</div>
  </div>
</section>