<!-- Photo
================================================== -->
<section id="photo">
  <div class="page-header">
    <h1>{{_i}}图片格式<small>支持的标签为<code>div、img</code> <a href="../component/photo/less/photo.less">photo.less</a></small>{{/i}}</h1>    
  </div>
  <div class="row">
  	<div class="span12">
  		<div id="tbh5v0">
	      <table class="table table-bordered table-striped">
	        <colgroup>
	          <col class="span6">
	          <col class="span6">
	        </colgroup>
	        <thead>
	          <tr>
	            <th>{{_i}}类名{{/i}}</th>
	            <th>{{_i}}大小{{/i}}</th>
	          </tr>
	        </thead>
	        <tbody>
	          <tr>
	            <td>
	            	<code>c-photo-50</code>
	            </td>
	            <td>高50，宽50</td>
	          </tr>
	          <tr>
	            <td>
	            	<code>c-photo-80</code>
	            </td>
	            <td>高80，宽80</td>
	          </tr>
	          <tr>
	            <td>
	            	<code>c-photo-90</code>
	            </td>
	            <td>高90，宽90</td>
	          </tr>
	          <tr>
	            <td>
	            	<code>c-photo-145</code>
	            </td>
	            <td>高145，宽145</td>
	          </tr>
	          <tr>
	            <td>
	            	<code>c-photo-220</code>
	            </td>
	            <td>高220，宽220</td>
	          </tr>
	        </tbody>
	      </table>
	    </div>
  	</div>
  </div>
</section>