<!-- Tab
================================================== -->
<section id="tab">
  <div class="page-header">
    <h1>{{_i}}选项卡<small> <a href="../component/tab/less/tab.less">tab.less</a></small>{{/i}}</h1>
  </div>

  <div class="row">
    <div class="span0">
      <h3>{{_i}}基本样式{{/i}}</h3>
      <div id="tbh5v0" class="example">
		<div class="c-tab">
			<ul class="tab-2">
				<li class="cur">近三个月订单</li>
				<li><a href="" title="">三个月期订单</a></li>
			</ul>
		</div>
      </div>
    </div>
    
    <div class="span8">
    <h3>{{_i}}DOM结构{{/i}}</h3>
<pre>
&lt;div class="c-tab"&gt;
    &lt;ul class="tab-2"&gt;
        &lt;li class="cur"&gt;近三个月订单&lt;/li&gt;
        &lt;li&gt;&lt;a href="" title=""&gt;三个月期订单&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;
</pre>
    	</div>
    </div>
  <br />
  
  <div class="row">
    <div class="span0">
      <h3>{{_i}}基本样式{{/i}}</h3>
      <div id="tbh5v0" class="example">
            <div class="c-tab">
				<ul class="tab-3">
					<li><a href="" title="">手机话费</a></li>
					<li class="cur">QQ充值</a></li>
					<li><a href="" title="">游戏点卡</a></li>
				</ul>
			</div>
      </div>
    </div>
    
    <div class="span8">
    <h3>{{_i}}DOM结构{{/i}}</h3>
<pre>
&lt;div class="c-tab"&gt;
    &lt;ul class="tab-3"&gt;
        &lt;li&gt;&lt;a href="" title=""&gt;手机话费&lt;/a&gt;&lt;/li&gt;
        &lt;li class="cur"&gt;QQ充值&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="" title=""&gt;游戏点卡&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;
</pre>
    	</div>
    </div>
  <br />
  
  <div class="row">
    <div class="span0">
      <h3>{{_i}}基本样式{{/i}}</h3>
      <div id="tbh5v0" class="example">
        <div class="c-tab">
			<ul class="tab-4">
				<li><a href="" title="">首页</a></li>
				<li><a href="" title="">分类</a></li>
				<li class="cur"><a href="" title="">评价</a></li>
                <li><a href="" title="">特惠</a></li>
			</ul>
		</div>
      </div>
    </div>
    
    <div class="span8">
    <h3>{{_i}}DOM结构{{/i}}</h3>
<pre>
&lt;div class="c-tab"&gt;
    &lt;ul class="tab-4"&gt;
        &lt;li&gt;&lt;a href="" title=""&gt;首页&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="" title=""&gt;分类&lt;/a&gt;&lt;/li&gt;
        &lt;li class="cur"&gt;&lt;a href="" title=""&gt;评价&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="" title=""&gt;特惠&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;
</pre>
    	</div>
    </div>
  <br />

</section>