<!-- Top Dropdown Navigator
================================================== -->
<section id="topcate">
  <div class="page-header">
    <h1>{{_i}}顶部下拉<small>用于内页导航条需要下拉的情况 <a href="../component/topcate/less/topcate.less">topcate.less</a></small>{{/i}}</h1>
  </div>
  <div class="row">
  	<div class="span0">
  		<h3>{{_i}}基础样式<small>下拉后的状态</small>{{/i}}</h3>
  		<div id="tbh5v0">
			<div id="swipeTop" class="c-tcate">
				<div id="swipeTopCont" class="c-tcate-cont"></div>
			</div>
			<header>
				<div class="c-inav">
					<section>
						<div class="back">
							<span><em></em></span><a>我的淘宝</a>
						</div>
					</section>
					<section>
						<span>我的淘宝</span>
					</section>
					<section>
						<div class="other">
							<a>分类</a>
						</div>						
					</section>
				</div>
			</header>
		</div>
  	</div>
  	
  	<div class="span8">
  		<h3>{{_i}}基础DOM结构{{/i}}</h3>
<pre>
&lt;div id="swipeTop" class="c-tcate"&gt;
	&lt;!-- 顶部DOM 
		例如 &lt;div class="c-tab"&gt;&lt;/div&gt;
	--&gt;
    &lt;div id="swipeTopCont" class="c-tcate-cont"&gt;
	&lt;!--  内容DOM 
		例如 &lt;div class="c-tcate-cont-div"&gt;&lt;/div&gt;
	--&gt;
    &lt;/div&gt;
&lt;/div&gt;
</pre>
  		<h3>{{_i}}用法{{/i}}</h3>
  		<p>{{_i}}同<a href="#innernav">内页导航条</a>位于同一层级。
  		具体使用方法请详见<a href="javascript.html#swipetop">JS模块 之 顶部下拉</a>{{/i}}</p>
<pre>
&lt;header&gt;
    &lt;div class="c-inav"&gt;
        &lt;!-- 省略	--&gt;
    &lt;/div&gt;
&lt;/header&gt
&lt;div id="swipeTop" class="c-tcate"&gt;
    &lt;!-- 省略	--&gt;
&lt;/div&gt;
</pre>
  	</div>
  </div>
</section>